<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <!-- <h1>Welcome to <%= title %> Page</h1> -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>👑Hon Ayinde</title>
  <link rel="stylesheet" href="/css/style1.css">
</head>
  <body>

  <table cellspacing="25">
    <tr>
      <th><img class="pix"src="img/circle-cropped.png"  title="Ayinde @ a glance" alt="Hon Ayinde at a glance"></th>
      <th>
        <h2>WELCOME TO THE WORLD OF POSIBILITIES</h2>
        <p>@IPRIME, Solution is paramount</p>
      </th>
      <!-- <td><em><strong>OPTIONS...</strong></em></td> -->
    </tr>
  </table>
  <centre>
    <h3>Welcome to the world of technology excellence! At IPRIME, we're your guiding light in the digital landscape. Explore, learn, and stay ahead with us as we unravel the wonders of tech innovation together.
         As a Tech guru, my area of specialization include web development, networking, and data analysis. My experience in the industry is dated wayback many years.
    </h3>
  </centre>
  <centre> 
    <h1><u>Mission Statement!</u></h1>
  </centre>
  <h2>Passionate about technology, I'm on a journey to harness innovation, push boundaries, and code the future. With each line of code, I turn ideas into reality, and with each challenge, I find opportunity. Tech-savvy and driven, I am the architect of my own digital destiny.</h2>
  <table>
    <h3><a href="/about">Know More About Me</a></h3>
  </table>
  

</body>

</html>
    <!-- <p>This is the Home page</p>
    </div>
</main> -->

      <!-- <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %> -->



   